[
   {eQuic, [
      %% 向 MsQuic 提供有关如何优化其线程调度操作的提示。说明如下
         % QUIC_EXECUTION_PROFILE_LOW_LATENCY 0 指示通常应优化调度以减少响应延迟。默认执行配置文件
         % QUIC_EXECUTION_PROFILE_TYPE_MAX_THROUGHPUT 1 	指示应针对最大单连接吞吐量优化调度。
         % QUIC_EXECUTION_PROFILE_TYPE_SCAVENGER 2 	表示调度逻辑需要最小的响应。例如，后台传输或进程。
         % QUIC_EXECUTION_PROFILE_TYPE_REAL_TIME 3 表示响应性对调度程序至关重要。
      {eExecutionProfile, 0},

      {eAlpn, ["eQuic"]},
      %% 配置map
      {eSettings, #{}},
      %% 证书map 服务器与客户端
      {eCredentialSrv, #{eType => 4, eFlags =>0, eCertificateFile_PrivateKeyFile => "./priv/key.pem", eCertificateFile_CertificateFile => "./priv/cert.pem"}},
      {eCredentialCli, #{eType => 0, eFlags =>1}}

   ]}
].


