{erl_opts, [no_debug_info, {i, "include"}]}.
{deps, [
    {eSync, ".*", {git, "http://sismaker.tpddns.cn:53000/SisMaker/eSync.git", {branch, "master"}}}
]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [eQuic]}
]}.

{pre_hooks,
    [{"", compile, "escript c_src/eNpc compile"}]}.

{post_hooks,
    [{"", clean, "escript c_src/eNpc clean"}]}.