{port_specs, [
   {"../../priv/eQuic.so", ["eQuic.c"]}
]}.

{port_env, [
   {"(linux|solaris|darwin|freebsd)", "LDFLAGS", "$LDFLAGS -lmsquic"},
   {"(linux|solaris|darwin|freebsd)", "CFLAGS", "$CFLAGS -O3"},

   {"win32", "LDFLAGS", "msquic.lib"},
   {"win32", "CFLAGS", "$CFLAGS /O3"}



]}.



